body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.calculator {
    max-width: 1150px;
    margin: 50px;
    padding: 20px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.body-part-sec {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 1em;
  margin: 2em 0;
}

.top-left, .top-right, .bottom-left, .bottom-right {
  width: fit-content;
  margin: auto;

}

.body-part-sec button {
  width: 150px;
  height: 50px;
}

.body-part-container {
  margin-bottom: 2em;
}

.selections {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1em;
}

.optional {
  position: absolute;
  display: none;
}

.body-part-container button {
  background-color: #ccc;
  font-weight: bold;
  font-size: 1.5em;
  padding: 1em 2em;
  margin: 0.5em;
}
.body-part-container button:hover, .selections button:hover, .marital-status label:hover, .dependent-parents label:hover {
  background-color: #2d5b87;
  color: #fff;
  cursor: pointer;
}

.selections button, .marital-status label, .dependent-parents label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  font-weight: bold;
  font-size: 1em;
  padding: .5em 2em;
  margin: 0.5em;
}

.checked {
  background-color: #2d5b87;
  color: #fff;
}

.options-sec, .dependent-children-container, .percent-dollar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 2em 0;
}

.dependent-children {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.dependent-children select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

.dependent-dropdown {
  position: relative;
  font-size: 1.5em;
  padding: .25em .5em;
}

.estimated-total {
  position: sticky;
  bottom: 0;
  color: #fff;
  background-color: #2d5b87;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  margin: 2em 0;
  padding: 1em 2em;
}

.totals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5em;
}
.percent-dollar div {
  font-size: 1.5em;
}
.percent-dollar span {
  font-size: 2.5em;
}

.clear-btn {
  padding: .5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25em;
  margin-left: 2em;
}

.selections-display {
    margin-top: 20px;
}

.selection-box {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #2d5b87;
    color: #fff;
    border-radius: 4px;
    position: relative;
    width: auto;
}

.selection-box .remove-box {
    cursor: pointer;
    color: #f1f1f1;
    padding: 5px;
    font-size: .75em;
}
